* {
  margin: 0;
  padding: 0;
}

#container_register,
#container_login,
#container_recover,
#container_restorePass {
  width: 100%;
  min-height: 100vh;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container_register form,
#container_login form,
#container_recover form,
#container_restorePass form {

  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  gap: 10px;
  padding: 25px;
  border-radius: 5px;
}

#container_recover p {
  text-align: center;
}

#container_recover form {
  align-items: center;
}

#container_register form button,
#container_login form button,
#container_recover form button,
#container_restorePass form button {
  background-color: #292929;
  color: #f2f2f2;
  padding: 5px 10px;
}

#container_register form div,
#container_login form div {
  display: flex;
  flex-direction: column;
}

#container_register form input,
#container_login form input {
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

#form_files {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#form_files button {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

#form_files div {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#form_files div label {

  background-color: rgb(0, 0, 0);
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;

}

.error {
  border: 1px solid red;
}

.span_error {
  color: red;
}

.success {
  border: 1px solid green;
}

.span_success {
  color: green;
}

#navbarNav .navbar-nav {
  gap: 15px;
}

#navbarNav .navbar-nav .nav-item:hover {
  background-color: rgba(128, 128, 128, 0.315);
  border-radius: 5px;
}

#navbarNav #changeRolLink {
  cursor: pointer;
}

#navbarNav .navbar-nav .nav-item:hover>.nav-link {
  color: black;
  font-weight: bolder;
}

#createProduct button {
  background-color: transparent;
  border: none;
  outline: none;
}

.container_cart a svg {
  width: 25px;
  height: 25px;
}

/* Filters */
#filters {
  background-color: rgba(0, 129, 215, 0.098);
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
}

.categories {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.categories li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;

  background-color: rgba(128, 128, 128, 0.296);
  padding: 5px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.container_price_filter {
  display: flex;
  gap: 5px;
  margin-top: 8px;
}

.container_price_filter a {
  background-color: rgba(128, 128, 128, 0.274);
  padding: 8px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}

.clear_filters {
  background-color: rgba(128, 128, 128, 0.274);
  padding: 5px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}


.container_pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


.pagination {
  list-style: none;
  padding: 0;
  display: flex;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  background-color: rgba(0, 86, 143, 0.261);
  /* Gama de colores rgba(128, 128, 128) con opacidad 0.8 */
  color: #ffffff;
  border-radius: 5px;
}

.page-link svg {
  vertical-align: middle;
}

.page-link:hover {
  background-color: rgba(0, 86, 143, 0.431);
  /* Cambiar a opacidad 1 en hover para resaltar más el color */
}
/*  */
#container_home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container_home .pagination_products {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#container_home .pagination_products .container_pagination {
  align-self: center;
}

.filters_products {
  display: flex;
  width: 100%;
  padding: 20px;
}

#container_products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 15px;
}


.card {
  width: 18rem;
  height: 500px; /* Altura fija para todas las cards */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 86, 143, 0.2)
}

.card-img-top {
  width: 100%;
  height: 200px; 
  object-fit: contain;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 10px 32px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text.description {
  margin-bottom: 10px;
}

.card-text.price {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text.stock {
  margin-bottom: 10px;
}

.btn.btn-primary {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(0, 86, 143);
  width: 70%;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn.btn-primary:hover {
  background-color: rgb(0, 129, 215);
}

.icon_trash,
.icon_pencil {
  display: none;
  width: 25px;
  height: 25px;
  position: absolute;
  border: none;
  outline: none;
  background-color: transparent;
}

.card .icon_pencil {
  margin: 5px 0 0 5px;
}

.card .icon_pencil svg {
  width: 20px;
  height: 20px;
  opacity: 0.8;
}

.card .icon_trash {
  right: 0;
  margin: 5px 5px 0 0;
}

.icon_trash svg {
  width: 20px;
  height: 20px;
  fill: rgb(134, 0, 0);
  opacity: 0.8;
}

.icon_trash svg:hover,
.icon_pencil svg:hover {
  opacity: 1;
  transform: scale(1.08);
}

/* Cart View */
#container_cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clean_cart {
  margin-bottom: 15px;
}

.deleteProduct {
  background-color: transparent;
  border: none;
  outline: none;
}

.deleteProduct svg {
  width: 15px;
  fill: white;
}

.total_count {
  font-size: 30px;
}

.container_quantity button {
  background-color: transparent;
  border: none;
  outline: none;
}

.container_quantity button svg {
  width: 25px;
  fill: white;
}

/* CHAT VIEW */
#container_chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#chat_form {
  background: rgba(0, 0, 0, 0.657);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 4rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

#chat_form input {
  border: none;
  padding: 0 1rem;
  border-radius: 2rem;
  margin: 0.25rem;
}

#chat_form #user_email {
  width: 350px;
}

#chat_form #user_message {
  flex-grow: 1;
}

#chat_form input:focus {
  outline: none;
}

#chat_form>button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  padding-bottom: 80px;
}

#messages>li {
  padding: 0.5rem 1rem;
}

#messages li svg {
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

#messages>li:nth-child(odd) {
  background: #efefef;
}

/* Dashboard */
#container_dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#container_dashboard button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

#container_dashboard button:hover {
  background-color: #333333; /* Color de fondo más oscuro */
}

/* Estilo al hacer clic */
#container_dashboard button:active {
  background-color: #666666; /* Color de fondo aún más oscuro */
}

/*Table*/
table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #e0e0e0;
}

#create_form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para las etiquetas */
#create_form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Estilos para los campos de entrada */
#create_form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para el botón de envío */
#create_form input[type="submit"] {
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo al pasar el cursor sobre el botón de envío */
#create_form input[type="submit"]:hover {
  background-color: #333333;
}

#filters {
  width: 18rem;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 86, 143, 0.2); /* Agregar sombra con el color especificado */
}

#filters a{
  background-color: rgb(0, 86, 143);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#filters a:hover{
  background-color: rgb(0, 129, 215);
  color:white

}

#filters h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

/* Estilos para la lista de categorías */
.categories {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilos para los enlaces de las categorías */
.categories li {
  margin: 5px 0;
}

.categories li a {
  text-decoration: none;
  color: #000000;
}

.categories li a:hover {
  color: #0063a5;
}

/* Estilos para los filtros */
#filters div {
  margin: 10px;
}

/* Estilos para el menú de cantidad de productos */
#quantity_select {
  padding: 5px;
}

/* Estilos para los enlaces de ordenar por precio */
.container_price_filter a {
  display: block;
  text-decoration: none;
  color: #000000;
  margin: 5px;
}

.container_price_filter a:hover {
  color: #0063a5;
}

/* Estilos para el enlace de limpiar filtros */
.clear_filters {
  display: block;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  background-color: #f2f2f2;
  color: #000000;
  border-top: 1px solid #ccc;
}

.clear_filters:hover {
  background-color: #e0e0e0;
}

.btn.btn-primary.add_product{
  position: inherit;
  width: 150px;
  margin: 0;
}